.full-width {
    width: 100%;
}

[main-loading] {
    min-height: 120px;
    padding-top: 34px;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 100%;
    place-content: center;
    align-items: center;
    display: flex;
}

.upcrop-insta-upload-container {
    width: 100%;
    padding: 16px 0;
}

md-card-footer {
    border-top: 1px solid rgba(0, 0, 0, .1);
    button {
        padding: 8px 0;
    }
}

.images-list-items-container {
    margin-right: -16px;
    @media (max-width: 599px) {
        margin-right: 0px;
    }
    [md-card-image] {
        cursor: pointer;
    }
}

.images-list-item {
    opacity: .5;
    margin-bottom: 16px;
    &.selected {
        opacity: 1;
    }
}

.card-background-image {
    min-width: 100%;
    height: 180px;
    margin: -24px -24px -16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media (max-width: 600px) {
        margin: -24px -16px -16px -16px;
    }
}

.mat-raised-button.is-loading {
    &:after {
        -webkit-animation: spinAround 500ms infinite linear;
        animation: spinAround 500ms infinite linear;
        border: 2px solid rgba(255, 255, 255, .7);
        border-radius: 50%;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        height: 20px;
        position: relative;
        width: 20px;
        position: absolute;
        left: calc(50% - (20px / 2));
        top: calc(50% - (20px / 2));
        position: absolute !important;
    }
    .mat-button-wrapper {
        visibility: hidden;
    }
}