.full-width {
    width: 100%;
}

[main-loading] {
    min-height: 120px;
    padding-top: 34px;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 100%;
    place-content: center;
    align-items: center;
    display: flex;
}

.upcrop-insta-upload-container {
    width: 100%;
    padding: 16px 0;
}